@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --md-width: 82%;
    --md-margin: calc((100% - var(--md-width)) / 2);
    --md-interval: calc(var(--md-width) / 3);
    --md-left-first: calc((100% - var(--md-width)) / 2);
    --md-left-second: calc(var(--md-left-first) + var(--md-interval));
    --md-left-third: calc(var(--md-left-first) + var(--md-interval) * 2);
    --md-left-forth: calc(var(--md-left-first) + var(--md-interval) * 3);

    --width: 90%;
    --margin: calc((100% - var(--width)) / 2);
    --interval: calc(var(--width) / 2);
    --left-first: calc((100% - var(--width)) / 2);
    --left-second: calc(var(--left-first) + var(--interval));
    --left-third: calc(var(--left-first) + var(--interval) * 2);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer components {
  .--link {
    @apply transform transition-all duration-500 ease-in-out
  }

  .--link:hover {
    @apply text-[color-primary]
  }

  .--link.--active {
    @apply text-white
  }

  .--center-content-container {
    @apply max-w-screen-xl mx-auto
  }

  .--body-divider {
    @apply content-[''] w-[1px] min-h-screen fixed top-0 bg-[color-border-dark] mix-blend-exclusion -z-10
  }

  .--header-bg-mask {
    @apply content-[''] w-full h-full absolute left-0 top-0 bg-gradient-to-r from-[#1b1b1bb3] to-[#1b1b1b00] -z-10
  }

  .--border {
    @apply border border-[color-border]
  }

  .--border-light {
    @apply border border-[color-border-light]
  }

  .--md-left-1 {
    @apply left-[--md-left-first]
  }

  .--md-left-2 {
    @apply left-[--md-left-second]
  }

  .--md-left-3 {
    @apply left-[--md-left-third]
  }

  .--md-left-4 {
    @apply left-[--md-left-forth]
  }

  .--left-1 {
    @apply left-[--left-first]
  }

  .--left-2 {
    @apply left-[--left-second]
  }

  .--left-3 {
    @apply left-[--left-third]
  }

  .--md-container {
    @apply ml-[--md-margin] mr-[--md-margin]
  }

  .--container {
    @apply ml-[--margin] mr-[--margin]
  }
}