@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer components {
  .--link {
    @apply transform transition-all duration-500 ease-in-out
  }

  .--link:hover {
    @apply text-[color-primary]
  }

  .--link.--active {
    @apply text-white
  }

  .--link-enhanced {
    @apply --link
  }

  .--link-enhanced:hover {
    @apply scale-110 text-[color-primary];
  }

  .--link-enhanced::after {
    content: '>';
    @apply invisible absolute right-0 transform translate-x-full;
    @apply transition-all duration-300 ease-in-out;
  }

  .--link-enhanced:hover::after {
    @apply visible;
    @apply -translate-x-6;
  }

  .--center-content-container {
    @apply max-w-screen-xl mx-auto
  }

  .--body-divider {
    @apply content-[''] w-[1px] h-full absolute left-[8.35%] top-0 bg-[color-border] mix-blend-exclusion z-10
  }

  .--header-bg-mask {
    @apply content-[''] w-full h-full absolute left-0 top-0 bg-gradient-to-r from-[#1b1b1bb3] to-[#1b1b1b00] -z-10
  }

  .--absolute-x-center {
    @apply absolute left-1/2 -translate-x-1/2
  }

  .--border {
    @apply border border-[color-border]
  }

  .--border-light {
    @apply border border-[color-border-light]
  }
}